<%= form_for(@impressum) do |f| %>
  <% if @impressum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impressum.errors.count, "error") %> prohibited this impressum from being saved:</h2>

      <ul>
      <% @impressum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :impressum %><br />
    <%= f.cktext_area :impressum, :toolbar => 'Easy' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
