<h1 align="center">News</h1>
<hr><br />

<table>

<% @newsscripts.each do |newsscript| %>
  <tr>
    <td><b><%= newsscript.headline %></b></td>
  </tr>
  <tr>
    <td><%= raw newsscript.news %></td>
  </tr>
  <tr>
    <td><b>Author: </b><%= newsscript.author %></td>
  </tr>
    <td>
        <%= link_to 'Show', newsscript %>
        <% if user_signed_in? %>
            <%= link_to 'Edit', edit_newsscript_path(newsscript) %>
            <%= link_to 'Destroy', newsscript, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br /><br />
    </td>
  </tr>
<% end %>
</table>

<br />

<% if user_signed_in? %>
    <%= link_to 'Neue News schreiben', new_newsscript_path %>
<% end %>

