<h2 align="center" xmlns="http://www.w3.org/1999/html">News</h2>
<p>
  <b> <%= @newsscript.headline %></b><br /><br />
</p>

<p>
  <%= raw @newsscript.news %>
</p>

<p>
  <b>Author: </b>
  <%= @newsscript.author %>
</p>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_newsscript_path(@newsscript) %> |
<% end %>
<%= link_to 'Back', newsscripts_path %>
