<!DOCTYPE html>
<html>
<head>
  <title>ContentManagement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <div id="container">
    <div id="header">
      <h1>Mein Vereins-CMS</h1>
    </div>
    <div id="content">
      <% if flash[:notice] %>
        <p id="notice">
          <%= flash[:notice] %>
        </p>
      <% end %>
      <% if flash[:alert] %>
        <p id="alert">
          <%= flash[:alert] %>
        </p>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer">
      &copy 2012 |
      <%= link_to "Impressum", impressums_url %>
    </div>
  </div>
</body>
</html>
